.btn-color{
    background-color: #103098;
    color:white;
    border: none;
    outline: none;
    cursor:pointer;
    transition: background-color 0.3s ease;
}

.btn-color:hover{
    background-color: #103098;
}

.profile-image-pic {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .cardbody-color {
    background-color: rgba(0, 0, 0, 0.171);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .header {
    background: none;
    padding: 40px;
    border-radius: 20px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: auto;
    text-align: center;
  }

  .cardbody-color input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #676767;
    border-radius: 5px;
    width: 100%;
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .password-toggle-icon i {
    font-size: 1.2rem;
  }
  
  .fa-eye-slash {
    display: none;
  }

  .fa-eye {
    display: inline-block;
  }

  .button-back {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0) ;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
  }
 