<!-- registro-actividad.component.html -->
<!-- registro-actividad.component.html -->

<div class="alert success" *ngIf="success">
  Empleado registrado exitosamente. Se ha generado una clave automática.
</div>

<div class="alert error" *ngIf="error">
  {{ error }}
</div>

<div class="registro-container">
  <div class="registro-header">
    <h2>Cursos Tomados</h2>
  </div>

  <div class="alert success" *ngIf="success">
    Empleado registrado exitosamente. Se ha generado una clave automática.
  </div>
  
  <div class="alert error" *ngIf="error">
    {{ error }}
  </div>


<div class="container mt-4">
    <h2>Registro de Nuevao curso tomado</h2>
    
    <form [formGroup]="registroForm" (ngSubmit)="guardar()">
      <div class="mb-3">
        <label for="claveempleado" class="form-label">ClaveEmpleado:</label>
        <input type="text" id="claveempleado" class="form-control" formControlName="claveempleado">
        <div *ngIf="registroForm.get('claveempleado')?.touched && registroForm.get('claveempleado')?.invalid" class="text-danger">
          La clave del empleado es requerido
        </div>
      </div>
      <div class="mb-3">
        <label for="nombrecompletoempleado" class="form-label">Nombre Completo del Empleado:</label>
        <input type="text" id="nombrecompletoempleado" class="form-control" formControlName="nombrecompletoempleado">
        <div *ngIf="registroForm.get('nombrecompletoempleado')?.touched && registroForm.get('nombrecompletoempleado')?.invalid" class="text-danger">
          El nombre del empleado es requerido
        </div>
      </div>
      
      <div class="mb-3">
        <label for="nombrecurso" class="form-label">Nombre del Curso:</label>
        <input type="text" id="nombrecurso" class="form-control" formControlName="nombrecurso" rows="3">
        <div *ngIf="registroForm.get('nombrecurso')?.touched && registroForm.get('nombrecurso')?.invalid" class="text-danger">
          el nombre del curso es requerido
        </div>
      </div>
      <div class="mb-3">
        <label for="fechainicio" class="form-label">Fecha de inicio del curso:</label>
        <input type="datetime-local" id="fechainicio" class="form-control" formControlName="fechainicio" required>
        <div *ngIf="registroForm.get('fechainicio')?.touched && registroForm.get('fechainicio')?.invalid" class="text-danger">
          Fecha de Inicio de Curso requerida
        </div>
      </div>
      <div class="mb-3">
        <label for="fechatermino" class="form-label">Fecha de inicio del curso:</label>
        <input type="datetime-local" id="fechatermino" class="form-control" formControlName="fechatermino" required>
        <div *ngIf="registroForm.get('fechatermino')?.touched && registroForm.get('fechatermino')?.invalid" class="text-danger">
          Fecha Final  de Curso requerida
        </div>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Nombre del Curso:</label>
        <input type="text" id="descripcion" class="form-control" formControlName="descripcion" rows="3">
        <div *ngIf="registroForm.get('descripcion')?.touched && registroForm.get('descripcion')?.invalid" class="text-danger">
          La descripción es necesaria
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      </div>
      
    </form>
  </div>

  