<div class="registro-container">
  <div class="registro-header">
    <h2>Actualizar Actividad</h2>
  </div>

  <div class="container mt-4">
    <h2>Actualizar Información de la Actividad</h2>

    <form [formGroup]="formulario" (ngSubmit)="guardar()">
      <!-- Campo ClaveEmpleado (solo lectura) -->
      <div class="mb-3">
        <label for="claveempleado" class="form-label">ClaveEmpleado:</label>
        <input type="text" id="claveempleado" class="form-control" formControlName="claveempleado" [value]="actividad?.ClaveEmpleado" readonly>
      </div>

      <!-- Campo Nombre Completo del Empleado (solo lectura) -->
      <div class="mb-3">
        <label for="nombrecompletoempleado" class="form-label">Nombre Completo del Empleado:</label>
        <input type="text" id="nombrecompletoempleado" class="form-control" formControlName="nombrecompletoempleado" [value]="actividad?.NombreCompletoEmpleado" readonly>
      </div>

      <!-- Campo Nombre de la Actividad -->
      <div class="mb-3">
        <label for="nombreactividad" class="form-label">Nombre de la Actividad:</label>
        <input type="text" id="nombreactividad" class="form-control" formControlName="nombreactividad" required>
        <div *ngIf="formulario.get('nombreactividad')?.touched && formulario.get('nombreactividad')?.invalid" class="text-danger">
          El nombre de la actividad es requerido.
        </div>
      </div>

      <!-- Campo Descripción -->
      <div class="mb-3">
        <label for="descripcionactividad" class="form-label">Descripción:</label>
        <textarea id="descripcionactividad" class="form-control" formControlName="descripcionactividad" rows="3" required></textarea>
        <div *ngIf="formulario.get('descripcionactividad')?.touched && formulario.get('descripcionactividad')?.invalid" class="text-danger">
          La descripción es requerida.
        </div>
      </div>

      <!-- Campo Estatus -->
      <div class="mb-3">
        <label for="estatus" class="form-label">Estatus:</label>
        <select id="estatus" formControlName="estatus" required>
          <option [value]="true">Activo</option>
          <option [value]="false">Inactivo</option>
        </select>
      </div>

     
      <!-- Botones -->
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
