<div class="perfil-container">
    <div class="profile-header">
      <div class="profile-avatar">
        <img *ngIf="empleado?.Foto" [src]="empleado?.Foto" alt="Foto de perfil">
        <span *ngIf="!empleado?.Foto">{{getInitials()}}</span>
      </div>
      
      <div class="profile-info">
        <h2>{{empleado?.Nombre || 'Nombre del Empleado'}}</h2>
        <div class="profile-title">{{empleado?.Puesto || 'Cargo del Empleado'}}</div>
        <div class="profile-meta">{{empleado?.Departamento || 'Departamento'}} · {{empleado?.Ciudad || 'Ciudad'}}</div>
      </div>
    </div>
    <div class="info-item">
      <div class="info-label">Sexo:</div>
      <div class="info-value">{{empleado?.Sexo || 'N/A'}}</div>
    </div>
    
    <div class="profile-sections">
      <div class="profile-section">
        <h3>Información Personal</h3>
        
        <div class="info-item">
          <div class="info-label">ID:</div>
          <div class="info-value">{{empleado?.ClaveEmpleado || 'N/A'}}</div>
        </div>
        <div class="info-item">
          <div class="info-label">RFC:</div>
          <div class="info-value">{{empleado?.RFC || 'N/A'}}</div>
        </div>
        
        <div class="info-item">
          <div class="info-label">Email:</div>
          <div class="info-value">{{empleado?.CorreoElectronico || 'N/A'}}</div>
        </div>
        
        <div class="info-item">
          <div class="info-label">Teléfono:</div>
          <div class="info-value">{{empleado?.Telefonos || 'N/A'}}</div>
        </div>
        
        <div class="info-item">
          <div class="info-label">Dirección:</div>
          <div class="info-value">{{empleado?.Calle || 'N/A'}}· {{empleado?.Colonia || 'N/A'}} {{empleado?.NumeroExterior || 'N/A'}}· {{empleado?.NumeroInterior || 'N/A'}}</div>
        </div>
      </div>
      
      <div class="profile-section">
        <h3>Información Laboral</h3>
        
        <div class="info-item">
          <div class="info-label">Departamento:</div>
          <div class="info-value">{{empleado?.Departamento || 'N/A'}}</div>
        </div>
        
        <div class="info-item">
          <div class="info-label">Puesto:</div>
          <div class="info-value">{{empleado?.Puesto || 'N/A'}}</div>
        </div>
        
        
    